<?xml version="1.0"?>
<launch>
    <arg name="file_name" default="test"/>

    <rosparam file="$(find baxter_unity)/config/params.yaml" command="load"/>
    
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen" respawn="true" />
    
    <node name="joint_states_service" pkg="baxter_unity" type="joint_states_service.py" output="screen" />
    
    <group ns="left_group">
	  <node name="motion_planner_left" pkg="baxter_unity" type="motion_planner.py" args="--limb left --offset 0.165 --obstacle 0.625" output="screen"  />
	  <include file="$(find baxter_unity)/launch/demo.launch" />
    </group>
    
    <group ns="right_group">
	  <node name="motion_planner_right" pkg="baxter_unity" type="motion_planner.py" args="--limb right --offset 0.165 --obstacle 0.65" output="screen"  />
	  <include file="$(find baxter_unity)/launch/demo.launch" />
    </group>
    
    <node name="plan_manager" pkg="baxter_unity" type="plan_manager.py" args="--file_name $(arg file_name)" output="screen" />
    
    <node name="world_to_base" pkg="tf" type="static_transform_publisher" args="0 0 0.92 0 0 0 world base 10" />
</launch>
